.grid{
    display: grid;
    height: 100vh;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4,1fr);
    grid-template-areas:'logo .    .    .   '
                        'main main main main'
                        'main main main main'
                        'todo player player player';
}