@mixin blur-background($opacity: 10px){
    background-color: 	hsla(0, 0%, 100%, 0.3);
	backdrop-filter: blur($opacity);
}

@mixin rounded-corner($arc){
    border-radius: $arc;
}

@mixin button($color){
    @include rounded-corner(1em);
    background-color: hsl($clr-cavern-pink);
    color: $color;
    @extend %box-shadow;
}

@mixin grid-position($postion: center){
    justify-self: $postion;
    align-self: $postion;
}