/*colors */
$clr-primary: 233 62% 15%;
$clr-secondary: 296 37% 85%;

/* font sizes */
$fs-400: 1.125rem;
$fs-500: 1.25rem;
$fs-600: 2rem;
$fs-700: 2.75rem;
$fs-800: 3rem;
$fs-900: 3.5rem;

/* font families */
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
$ff-poppins: 'Poppins', sans-serif;