/*colors */
$clr-indigo-900: 259 71% 16%;
$clr-peach-900: 5 50% 95%;
$clr-purple-900: 267 51% 50%;
$clr-gun-powder-900: 237 14% 30%;


/* font sizes */
$fs-400: 1.125rem;
$fs-500: 1.25rem;
$fs-600: 2rem;
$fs-700: 2.75rem;
$fs-800: 3rem;
$fs-900: 3.5rem;

/* font families */
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
$ff-poppins: 'Poppins', sans-serif;