.button--primary{
    @include button(hsl($clr-cavern-pink));
    color:hsl($clr-ebony-clay);
    margin: 2rem;
    padding: 0.6rem 2rem;
    @extend %box-shadow;
}

.button--primary:hover{
    cursor: pointer;
    background-color: hsl($clr-light-blue-grey);
}