.logo{
    grid-area: logo;
}

.main{
    grid-area: main;
    @include grid-position();
}

.todo{
    grid-area: todo;
    height: max-content;
    width: max-content;
    @include grid-position();
    padding:1.2em;
}