{
    "extends": "airbnb",
    "rules": {
        "react/jsx-filename-extension": [
            1,
            {
                "extensions": [
                    ".js",
                    ".jsx"
                ]
            }
        ],
        "jsx-a11y/label-has-associated-control": [
            1,
            {
                "required": {
                    "some": [
                        "nesting",
                        "id"
                    ]
                }
            }
        ],
        "react/jsx-props-no-spreading": [
            0,
            {
                "custom": "ignore"
            }
        ]
    },
    "env": {
        "browser": true,
        "node": true
    },
    "globals": {
        "document": false
    },
    "parserOptions": {
        "ecmaVersion": 2020
    }
}