{
    "extends": [
        "airbnb",
        "plugin:@typescript-eslint/eslint-recommended",
        "plugin:@typescript-eslint/recommended"
    ],
    "rules": {
        "react/jsx-filename-extension": [
            1,
            {
                "extensions": [
                    ".jsx",
                    ".tsx"
                ]
            }
        ],
        "react/react-in-jsx-scope": "off",
        "react/jsx-props-no-spreading": [
            0,
            {
                "custom": "ignore"
            }
        ],
        "jsx-a11y/label-has-associated-control": [
            1,
            {
                "required": {
                    "some": [
                        "nesting",
                        "id"
                    ]
                }
            }
        ],
        "import/extensions": [
            "error",
            "ignorePackages",
            {
                "js": "never",
                "jsx": "never",
                "ts": "never",
                "tsx": "never"
            }
        ],
        "import/no-unresolved": "error",
        "no-underscore-dangle": [
            0,
            {
                "allow": [
                    "_bar"
                ]
            }
        ]
    },
    "settings": {
        "import/parsers": {
            "@typescript-eslint/parser": [
                ".ts",
                ".tsx"
            ]
        },
        "import/resolver": {
            "node": {
                "extensions": [
                    ".js",
                    ".jsx",
                    ".ts",
                    ".tsx"
                ]
            }
        }
    },
    "env": {
        "browser": true,
        "node": true
    },
    "globals": {
        "document": false
    },
    "parserOptions": {
        "ecmaVersion": 2020
    }
}