@import '../../../../styles/main.scss';

.tasks{
    min-width: 100%;
}
.task-card{
    background-color: hsl($clr-light-blue-grey);
    list-style: none;
    padding: 1.5rem;
    margin: 1rem;
    border-radius: 2rem;
    @extend %box-shadow;
}
ul{
    padding: 0;
    margin-top: 2rem;
    max-height: 60vh;
    overflow-y: scroll;
}
.tasks__button{
    width: 80%;
}
.modal__overlay{
    backdrop-filter: blur(10px);
	background-color: rgba(255, 255, 255, 0.3);
    position: fixed;
    inset: 0px;
}
.modal{
    position: absolute;
    top:8rem;
    bottom:0;
    left:0;
    right: 0;
    border-radius: 2rem 2rem 0 0;
    background-color: hsl($clr-light-blue-grey);
    color: hsl($clr-white);
    padding:14px
}

@media only screen and (min-width: $mobile-lg){
    .tasks{
        min-width: 50%;
    }
    .modal{
        inset:4rem 8rem;
        border-radius: 10px;
        padding: 0;
    }

}