@import '../../../../styles/main.scss';

.tasks{
    min-width: 100%;
}
.task-card{
    background-color: hsl($clr-light-blue-grey);
    list-style: none;
    padding: 1.5rem;
    margin: 1rem;
    border-radius: 2rem;
    @extend %box-shadow;
}
ul{
    padding: 0;
    margin-top: 2rem;
    max-height: 60vh;
    overflow-y: scroll;
}
.tasks__button{
    width: 90%;
}

@media only screen and (min-width: $mobile-lg){
    .tasks{
        min-width: 50%;
    }
}