@import '../../styles/main.scss';

.task__item {
  background-color: hsl($clr-light-blue-grey);
  list-style: none;
  padding: 1.5rem;
  margin: 1rem;
  border-radius: 2rem;
  @extend %box-shadow;
}
.task__item__text {
  max-width: 75%;
}

.task__item__button {
  width: 2.4rem;
  height: auto;
  background: none;
  cursor: pointer;
}
