@import '../../styles/main.scss';

.tasks-list {
  min-width: 100%;
}
ul {
  padding: 0;
  margin-top: 2rem;
  max-height: 60vh;
  overflow-y: scroll;
}
.tasks__button {
  width: 80%;
}
.modal__overlay {
  backdrop-filter: blur(10px);
  background-color: rgba(255, 255, 255, 0.3);
  position: fixed;
  inset: 0px;
}

.form__label {
  line-height: 2;
  text-align: left;
  display: block;
  margin-bottom: 1.3rem;
  margin-top: 0.8rem;
  font-size: $fs-500;
}
.form__input {
  display: block;
  border-radius: 10px;
  width: 100%;
  padding: 0.8rem 0.5rem;
  margin-bottom: 0.5rem;
}
.form__error-message {
  color: #bf1650;
}
.form__error-message::before {
  display: inline;
  content: '⚠ ';
}

@media only screen and (min-width: $mobile-lg) {
  .tasks-list {
    min-width: 50%;
  }
  ul {
    min-height: 40vh;
    max-height: 45vh;
  }
  .tasks__illustration {
    height: 20rem;
    width: auto;
  }
  .tasks-list--empty {
    display: grid;
    place-items: center;
  }
}
