@import '../styles/helpers/variables';
.view-toggle {
  display: none;
}
@media only screen and (max-width: $tablet) {
  .view-toggle {
    display: block;
    width: 80%;
  }
  .hide-pomodoro {
    .pomodoro {
      display: none;
    }
    .tasks-list {
      display: block;
    }
  }
  .show-pomodoro {
    .pomodoro {
      display: block;
    }
    .tasks-list {
      display: none;
    }
  }
}
