@import '../../styles/main.scss';

.logo{
    display: none;
}
nav{
    width: 100%;
    position: fixed;
    bottom: 0;
    left: 0;
    text-align: center;
    color: hsl($clr-white);

    .nav-item{
        display: inline-block;
        text-decoration: none;
        color: hsl($clr-white);
        padding: 1rem;
    }

    .nav-item:hover,
    .nav-item:active{
        color: hsl($clr-cavern-pink);
        cursor: pointer;
    }

}

 @media  only screen and (min-width: $mobile-lg) {
    .logo{
        display: block;
    }
    nav{
        position: static;
        text-align: right;
        .nav-item{
            padding: 2rem;
        }
    }
}