@import '../../../../styles/main.scss';

.pomodoro{
    display: none;
}

@media only screen and (min-width: $laptop) {
    .pomodoro{
        display: grid;
        place-items: center;
        width: 50%;
    }
}