@import '../../../../styles/main.scss';

.circle-container{
    fill:hsl($clr-light-blue-grey);
    stroke: #ccc;
}

.progress{
    stroke:hsl($clr-cavern-pink);
    transition: all 2s;
}

.timer-text{
    fill: hsl($clr-ebony-clay);
    font-size: $fs-500;
}