@import '../../../../styles/main.scss';

.circular-path{
    fill:none;
    stroke: #ccc;
    

}

.progress{
    stroke:hsl($clr-cavern-pink);
}

.timer-text{
    fill: hsl($clr-light-blue-grey);
    font-size: $fs-500;
}