.outer-rim{
    height:100px;
    width: 100px;
    position: relative;
    border: solid green 1px;
    text-align: center;
}

.inner-rim{
    position: absolute;
    z-index: 2;
    top: 50%;
    left:50%;
    height: 80px;
    width: 80px;
    margin-top: -40px;
    margin-left: -40px;
    background-color: red;
    border-radius: 100%;
}