.text--white {
  color: hsl($clr-white);
}
.text--light-blue {
  color: hsl($clr-light-blue-grey);
}
.text--dark-blue {
  color: hsl($clr-ebony-clay);
}
.text--center {
  text-align: center;
}

.bg--light-blue {
  background-color: hsl($clr-light-blue-grey);
}
